@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --purple: #6F5FE7;
    --grey: #BABABA;
    --hover-bt: #564ab8;
    --font: 'Inter', Arial, sans-serif;
    --bg: #131318;
}

*{
    padding: 0;
    margin: 0;
} 
body{
    background-color: var(--grey);
    font-family: var(--font);
    color: white;
}
#banner{
    height: 200px;
}

#logomarca{
    right: 24px;
    position: absolute;
    top: 20%;
}

main{
    background-color: var(--bg);
    position: relative;
    width: 375px;
    margin: auto;
    height: 867px;
}

.container{
    padding: 30px 24px;
}

h1{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}
input{
    border-radius: 10px;
    height: 50px;
    font-size: 14px;
    font-weight: 400; 
    background-color: var(--bg);
    border-style: none;
    border: 1px solid #4F4F4F;
    margin: 10px 0;
    width: 100%;
    color: white;
}

input::placeholder{
    color: #A1A1A3;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

button{
    height: 50px;
    border-radius: 10px;
    width: 100%;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #6F5FE7;
    color: white;
    margin-top: 10px;
}

button:hover{
    background-color: var(--hover-bt);
}

p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}

.login-direto {
    background-color: white;
    width: 52px;
    height: 52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-direto img {
    width: 24px; 
    height: 24px; 
}

#icons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
